* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  max-width: 1052px;
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0 0 10px;

  user-select: none;
}
.item {
  color: #fff;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(209, 33, 209);
  border-radius: 10px;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.item12 {
  min-width: 250px;
  min-height: 140.63px;
}
.item9 {
  min-width: 336px;
  min-height: 189px;
}
.item4 {
  min-width: 510px;
  min-height: 286.88px;
}
.item2 {
  min-width: 510px;
  min-height: 286.88px;
}

.btn__wrapper {
  width: 402px;
  margin: 30px auto;
  button {
    padding: 15px;
    margin-right: 10px;
    color: blanchedalmond;
    background-color: crimson;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
  }
  button:last-child {
    margin-right: 0px;
  }
  button:disabled {
    background-color: #ccc;
  }
}
